@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800);
html {
	box-sizing: border-box
}

*, ::after, ::before {
	box-sizing: inherit
}

body, html {
	width: 100%;
	height: 100%
}

* {
	transition: .4s
}

a {
	text-decoration: none
}

.movie-card-parent {
	display: grid;
	margin: 8vh 8vh 0 8vh;
	padding: 10px;
	border-radius: 10px
}

#movie-card-list {
	padding-top: 10vh
}

.movie-data {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	justify-content: space-between
}

.movie-image img {
	width: 100%;
	height: 100%
}

.color-overlay {
	display: grid;
	border-radius: 15px;
	background: #fff;
	border: .1px outset #000;
	background-blend-mode: multiply;
	grid-template-columns: minmax(70%, 70%) 1fr;
	overflow: hidden
}

h1, h2, h3 {
	font-family: Montserrat, helvetica, arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1;
	font-weight: 400
}

.movie-title {
	color: #000;
	margin-bottom: .25em;
	opacity: .75;
	font-size: 2vw;
	font-weight: 900
}

.movie-info {
	text-transform: uppercase;
	color: #3a93e1;
	line-height: 1;
	opacity: 1;
	margin: 0;
	font-size: 1vw;
	font-weight: 900
}

.movie-desc {
	font-weight: 300;
	opacity: .84;
	font-size: 1.1vw;
	padding-top: 15px;
	padding-bottom: 15px
}

i.book1 {
	width: 40px;
	height: 35px;
	background: url(./images/img-sprite.png) no-repeat -300px -87px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px
}

a.book:hover {
	background: #000;
	border-bottom: 3px solid #000
}

@media (max-width:1000px) {
	a.book {
		font-size: 2vh
	}
	.movie-title {
		font-size: 3vh
	}
	.movie-info {
		font-size: 2vh
	}
	.movie-desc {
		font-size: 2.5vh
	}
	.color-overlay {
		display: block
	}
	.movie-desc {
		padding-top: 15px;
		padding-bottom: 15px
	}
}

@media (max-width:800px) {
	.movie-card-parent {
		margin: 0
	}
	.movie-data {
		padding: 1rem
	}
	.movie-desc {
		padding-top: 20px;
		padding-bottom: 20px
	}
	.main {
		border-left: 0
	}
}

@media (max-width:600px) {
	.color-overlay {
		display: block
	}
}